*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.colorq {
    color:black;
    text-decoration: underline;
}


.active{
    opacity: 1 !important;

}
.hide {
    display: none;

}
.container {
    position: absolute;
    height: 90vh;
    width: 35%;;
    border: 3px solid black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    left: 25%;
    top: 5vh;
   
}
.budget-header {
    position: relative;
    height: 40%;
    color: white;
}
.budget-dashboard{
    position: relative;
    height: 60%;
    background-color: cadetblue;
}

.balance {
    position: absolute;
    height: 40%;
    width: 50%;
    top:20%;
    left: 25%;
    color: cadetblue;
    
}
.balance .title {
    font-size: 1.7rem;
    padding-left: 30%;
}
.balance .value {
    font-size: 2rem;
   margin: 5% 30%;

}
button {
    padding: 3px 3px;
}


.incomek {
    position: absolute;
    height: 30%;
    width: 20%;
    bottom:5%;
    left: 10%;
    color: green;
}

.outcome{
    position: absolute;
    height: 30%;
    width: 20%;
    bottom:5%;
    right: 10%;
    color: red;
}

.incomek .title, .outcome .title {
    font-size: 1.5 rem;
    margin: 5% 20%;
    
}

.incomek .income-total, .outcome .outcome-total {
    font-size: 1.5rem;
    margin: 5% 20%;
}
.dash-title { 
    
    top:5%;
    left: 10%;
}

.toggle {
display: block;
height: 10%;
border-top: 2px solid white;
border-bottom: 1px solid white;
top: 10%;
left: 10%;
width: 100%;
color: white;
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    margin: 1.5% 10%;
}

.list {
 padding:2% 0;
height: 100%;
width: 100%;
background-color: cadetblue;
list-style: none;
}


li {
    
    position: relative;
    width: 90%;
    margin: 2% 5%;
    color: white;
  
}

li button{
    position: absolute;
    display: inline-block;
    margin-left: 20%;
    right: 0;
}

.input {
 position: absolute;
 display: block;
bottom: 2%;
left: 12%;
padding: 1% 0;

}


/* .input input#expense-amount-input{
    margin: 0 15%;

}
.input input#expense-title-input{
    margin: 0 10%;
} */
 /* #expense  {
    border: 2px solid black;
    height: 80%;
    width:49%;
    display: inline-block;
    background-color: red;

    
}
    #income {
    border: 2px solid black;
    height: 80%;
    width:49%;
    display: inline-block;
    background-color: green;
} */
.budget-dashboard #expense {
    
    height: 85%;
    width:100%;
    background-color: red;
}

 .budget-dashboard #income{
  
    height: 85%;
    width:100%;
    background-color: greenyellow;
    }
/* 
    li {
        font-size: 4rem;;
    } */